<div (dblclick)="recordatorio(tarea)" [ngClass]="{'border-l-8':tarea.recordatorio,'border-green-700':tarea.recordatorio}" class="flex items-center justify-between px-2 bg-gray-200 hover:bg-gray-400 transition duration-700 cursor-pointer p-2 rounded-xl">
    <div>
    <h1 class="text-base font-bold" style="user-select:none">{{tarea.texto}}</h1>
    <p class="text-base font-bold" style="user-select:none">{{tarea.fecha}}</p>
    </div>
    <fa-icon (click)="eliminarItem(tarea)" ngClass="text-red-500" [icon]="faCoffee"></fa-icon>

</div>
